In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

from sklearn.cluster import KMeans

In [2]:
# Especificar los tipos de datos para cada columna
dtype_dict = {
    "Country Name": str,
    "Country Code": str,
    "Indicator Name": str,
    "Indicator Code": str
}

# Leer el archivo CSV con los tipos de datos especificados
df = pd.read_csv("WDIData.csv", sep=",", decimal=",", dtype=dtype_dict)

# Convertir las columnas num√©ricas a tipo float
columnas_numericas = df.columns[4:]  # Seleccionar todas las columnas a partir de la quinta
df[columnas_numericas] = df[columnas_numericas].astype(float)

# Verificar el tipo de datos resultante
print(df.dtypes)

Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960              float64
                   ...
2018              float64
2019              float64
2020              float64
2021              float64
2022              float64
Length: 67, dtype: object

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236399 entries, 0 to 236398
Data columns (total 67 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country Name    236399 non-null  object
 1   Country Code    236399 non-null  object
 2   Indicator Name  236399 non-null  object
 3   Indicator Code  236399 non-null  object
 4   1960            23655 non-null   float64
 5   1961            26860 non-null   float64
 6   1962            27473 non-null   float64
 7   1963            27898 non-null   float64
 8   1964            28124 non-null   float64
 9   1965            29479 non-null   float64
 10  1966            29508 non-null   float64
 11  1967            29821 non-null   float64
 12  1968            30200 non-null   float64
 13  1969            30564 non-null   float64
 14  1970            41690 non-null   float64
 15  1971            45966 non-null   float64
 16  1972            47037 non-null   float64
 17  1973            47528 non-null   float64
 18  1974            48389 non-null   float64
 19  1975            50519 non-null   float64
 20  1976            51755 non-null   float64
 21  1977            53148 non-null   float64
 22  1978            53397 non-null   float64
 23  1979            54203 non-null   float64
 24  1980            56840 non-null   float64
 25  1981            58077 non-null   float64
 26  1982            58387 non-null   float64
 27  1983            59023 non-null   float64
 28  1984            59474 non-null   float64
 29  1985            60275 non-null   float64
 30  1986            60821 non-null   float64
 31  1987            60897 non-null   float64
 32  1988            60858 non-null   float64
 33  1989            62001 non-null   float64
 34  1990            77456 non-null   float64
 35  1991            82116 non-null   float64
 36  1992            84271 non-null   float64
 37  1993            85966 non-null   float64
 38  1994            87289 non-null   float64
 39  1995            91856 non-null   float64
 40  1996            95699 non-null   float64
 41  1997            91816 non-null   float64
 42  1998            97139 non-null   float64
 43  1999            96683 non-null   float64
 44  2000            116616 non-null  float64
 45  2001            108571 non-null  float64
 46  2002            114037 non-null  float64
 47  2003            115575 non-null  float64
 48  2004            118475 non-null  float64
 49  2005            125764 non-null  float64
 50  2006            125716 non-null  float64
 51  2007            127029 non-null  float64
 52  2008            127305 non-null  float64
 53  2009            127921 non-null  float64
 54  2010            134341 non-null  float64
 55  2011            131618 non-null  float64
 56  2012            132873 non-null  float64
 57  2013            130594 non-null  float64
 58  2014            134859 non-null  float64
 59  2015            135058 non-null  float64
 60  2016            131940 non-null  float64
 61  2017            129967 non-null  float64
 62  2018            129550 non-null  float64
 63  2019            126423 non-null  float64
 64  2020            113625 non-null  float64
 65  2021            97225 non-null   float64
 66  2022            61791 non-null   float64
dtypes: float64(63), object(4)
memory usage: 120.8+ MB

In [4]:
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,16.914625,17.392349,17.892005,18.359993,18.795151,19.295176,19.788156,20.279599,20.773627,NaN
1,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.473301,6.720331,7.015917,7.281390,7.513673,7.809566,8.075889,8.366010,8.684137,NaN
2,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,37.870347,38.184152,38.543180,38.801719,39.039014,39.323186,39.643848,39.894830,40.213892,NaN
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.695183,31.859257,33.903515,38.851444,40.197332,43.028332,44.389773,46.268621,48.103609,NaN
4,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,18.672306,17.623956,16.516633,24.594474,25.389297,27.041743,29.138285,30.998687,32.772690,NaN

In [5]:
df.isnull().sum()

Country Name           0
Country Code           0
Indicator Name         0
Indicator Code         0
1960              212744
                   ...
2018              106849
2019              109976
2020              122774
2021              139174
2022              174608
Length: 67, dtype: int64

In [6]:
df.shape

(236399, 67)

In [7]:
# Eliminar columna que no necesitamos, la ultima
df.drop(df.columns[-1], axis=1, inplace=True)
df.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,16.447499,16.914625,17.392349,17.892005,18.359993,18.795151,19.295176,19.788156,20.279599,20.773627
1,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.224276,6.473301,6.720331,7.015917,7.281390,7.513673,7.809566,8.075889,8.366010,8.684137
2,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,37.540749,37.870347,38.184152,38.543180,38.801719,39.039014,39.323186,39.643848,39.894830,40.213892

In [8]:
#Intercambiar NA por -1
df.fillna(-1, inplace= True)
df.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,16.447499,16.914625,17.392349,17.892005,18.359993,18.795151,19.295176,19.788156,20.279599,20.773627
1,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,6.224276,6.473301,6.720331,7.015917,7.281390,7.513673,7.809566,8.075889,8.366010,8.684137
2,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,37.540749,37.870347,38.184152,38.543180,38.801719,39.039014,39.323186,39.643848,39.894830,40.213892

In [9]:
guatemala_df = df.loc[df['Country Name'] == 'Guatemala']
guatemala_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
191694,Guatemala,GTM,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,39.700000,40.600000,41.300000,42.200000,43.200000,44.200000,45.300000,46.300000,47.300000,48.100000
191695,Guatemala,GTM,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,11.500000,11.500000,11.600000,11.700000,11.800000,11.900000,11.800000,12.000000,11.900000,12.100000
191696,Guatemala,GTM,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,64.000000,64.800000,65.800000,66.900000,68.200000,69.300000,70.400000,71.600000,72.400000,73.350000
191697,Guatemala,GTM,Access to electricity (% of population),EG.ELC.ACCS.ZS,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,86.831940,88.072723,85.494371,90.539246,91.765869,93.300000,94.209991,95.429146,96.647469,97.865654
191698,Guatemala,GTM,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,78.281939,80.370662,76.655953,84.629441,86.802108,89.635255,91.239533,93.507093,95.808767,98.146020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193175,Guatemala,GTM,Women who believe a husband is justified in be...,SG.VAW.REFU.ZS,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.000000,-1.000000,-1.000000,2.400000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
193176,Guatemala,GTM,Women who were first married by age 15 (% of w...,SP.M15.2024.FE.ZS,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.000000,-1.000000,-1.000000,6.200000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
193177,Guatemala,GTM,Women who were first married by age 18 (% of w...,SP.M18.2024.FE.ZS,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.000000,-1.000000,-1.000000,29.500000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
193178,Guatemala,GTM,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,40.700000,40.800000,41.000000,41.300000,41.400000,41.400000,41.300000,41.100000,40.900000,40.700000
193179,Guatemala,GTM,Young people (ages 15-24) newly infected with HIV,SH.HIV.INCD.YG,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,100.000000,100.000000,100.000000,100.000000,200.000000,200.000000,200.000000,200.000000,500.000000,500.000000

In [10]:
# Calcular la proporci√≥n de valores -1 en cada columna num√©rica
proporcion_valores_negativos = (guatemala_df.drop(columns=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code']) == -1).mean()

# Definir un umbral para decidir si eliminar la columna
umbral = 0.5  # Por ejemplo, si m√°s del 50% de los valores son -1, eliminaremos la columna

# Filtrar las columnas que superan el umbral
columnas_a_eliminar = proporcion_valores_negativos[proporcion_valores_negativos > umbral].index

# Eliminar las columnas del DataFrame original
df_filtrado = guatemala_df.drop(columns=columnas_a_eliminar)
df_filtrado

,Country Name,Country Code,Indicator Name,Indicator Code,1995,1996,1997,1998,1999,2000,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
191694,Guatemala,GTM,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,-1.000000,-1.000000,-1.000000,-1.000000,-1.00000,40.700000,...,39.700000,40.600000,41.300000,42.200000,43.200000,44.200000,45.300000,46.300000,47.300000,48.100000
191695,Guatemala,GTM,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,-1.000000,-1.000000,-1.000000,-1.000000,-1.00000,17.100000,...,11.500000,11.500000,11.600000,11.700000,11.800000,11.900000,11.800000,12.000000,11.900000,12.100000
191696,Guatemala,GTM,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,-1.000000,-1.000000,-1.000000,-1.000000,-1.00000,66.750000,...,64.000000,64.800000,65.800000,66.900000,68.200000,69.300000,70.400000,71.600000,72.400000,73.350000
191697,Guatemala,GTM,Access to electricity (% of population),EG.ELC.ACCS.ZS,60.800000,67.679939,68.904076,70.124130,70.90000,73.318205,...,86.831940,88.072723,85.494371,90.539246,91.765869,93.300000,94.209991,95.429146,96.647469,97.865654
191698,Guatemala,GTM,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,39.029553,48.340508,50.095980,51.876376,54.21246,55.009254,...,78.281939,80.370662,76.655953,84.629441,86.802108,89.635255,91.239533,93.507093,95.808767,98.146020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193175,Guatemala,GTM,Women who believe a husband is justified in be...,SG.VAW.REFU.ZS,-1.000000,-1.000000,-1.000000,-1.000000,-1.00000,-1.000000,...,-1.000000,-1.000000,-1.000000,2.400000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
193176,Guatemala,GTM,Women who were first married by age 15 (% of w...,SP.M15.2024.FE.ZS,10.400000,-1.000000,-1.000000,-1.000000,9.30000,-1.000000,...,-1.000000,-1.000000,-1.000000,6.200000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
193177,Guatemala,GTM,Women who were first married by age 18 (% of w...,SP.M18.2024.FE.ZS,38.600000,-1.000000,-1.000000,-1.000000,34.30000,-1.000000,...,-1.000000,-1.000000,-1.000000,29.500000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
193178,Guatemala,GTM,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,37.400000,38.100000,38.800000,39.500000,40.20000,40.900000,...,40.700000,40.800000,41.000000,41.300000,41.400000,41.400000,41.300000,41.100000,40.900000,40.700000
193179,Guatemala,GTM,Young people (ages 15-24) newly infected with HIV,SH.HIV.INCD.YG,1400.000000,1500.000000,1600.000000,1600.000000,1600.00000,1500.000000,...,100.000000,100.000000,100.000000,100.000000,200.000000,200.000000,200.000000,200.000000,500.000000,500.000000

In [11]:
df_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1486 entries, 191694 to 193179
Data columns (total 31 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    1486 non-null   object
 1   Country Code    1486 non-null   object
 2   Indicator Name  1486 non-null   object
 3   Indicator Code  1486 non-null   object
 4   1995            1486 non-null   float64
 5   1996            1486 non-null   float64
 6   1997            1486 non-null   float64
 7   1998            1486 non-null   float64
 8   1999            1486 non-null   float64
 9   2000            1486 non-null   float64
 10  2001            1486 non-null   float64
 11  2002            1486 non-null   float64
 12  2003            1486 non-null   float64
 13  2004            1486 non-null   float64
 14  2005            1486 non-null   float64
 15  2006            1486 non-null   float64
 16  2007            1486 non-null   float64
 17  2008            1486 non-null   float64
 18  2009            1486 non-null   float64
 19  2010            1486 non-null   float64
 20  2011            1486 non-null   float64
 21  2012            1486 non-null   float64
 22  2013            1486 non-null   float64
 23  2014            1486 non-null   float64
 24  2015            1486 non-null   float64
 25  2016            1486 non-null   float64
 26  2017            1486 non-null   float64
 27  2018            1486 non-null   float64
 28  2019            1486 non-null   float64
 29  2020            1486 non-null   float64
 30  2021            1486 non-null   float64
dtypes: float64(27), object(4)
memory usage: 371.5+ KB

In [12]:
df_filtrado = df_filtrado.drop(columns=['Country Name', 'Country Code', 'Indicator Name'])
df_filtrado = df_filtrado.reset_index(drop=True)

df_filtrado

,Indicator Code,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,EG.CFT.ACCS.ZS,-1.000000,-1.000000,-1.000000,-1.000000,-1.00000,40.700000,39.900000,39.200000,38.700000,...,39.700000,40.600000,41.300000,42.200000,43.200000,44.200000,45.300000,46.300000,47.300000,48.100000
1,EG.CFT.ACCS.RU.ZS,-1.000000,-1.000000,-1.000000,-1.000000,-1.00000,17.100000,16.200000,15.300000,14.600000,...,11.500000,11.500000,11.600000,11.700000,11.800000,11.900000,11.800000,12.000000,11.900000,12.100000
2,EG.CFT.ACCS.UR.ZS,-1.000000,-1.000000,-1.000000,-1.000000,-1.00000,66.750000,65.700000,64.800000,64.000000,...,64.000000,64.800000,65.800000,66.900000,68.200000,69.300000,70.400000,71.600000,72.400000,73.350000
3,EG.ELC.ACCS.ZS,60.800000,67.679939,68.904076,70.124130,70.90000,73.318205,73.733215,78.667838,78.512204,...,86.831940,88.072723,85.494371,90.539246,91.765869,93.300000,94.209991,95.429146,96.647469,97.865654
4,EG.ELC.ACCS.RU.ZS,39.029553,48.340508,50.095980,51.876376,54.21246,55.009254,57.331640,64.146689,63.396697,...,78.281939,80.370662,76.655953,84.629441,86.802108,89.635255,91.239533,93.507093,95.808767,98.146020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1481,SG.VAW.REFU.ZS,-1.000000,-1.000000,-1.000000,-1.000000,-1.00000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,2.400000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
1482,SP.M15.2024.FE.ZS,10.400000,-1.000000,-1.000000,-1.000000,9.30000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,6.200000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
1483,SP.M18.2024.FE.ZS,38.600000,-1.000000,-1.000000,-1.000000,34.30000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,29.500000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
1484,SH.DYN.AIDS.FE.ZS,37.400000,38.100000,38.800000,39.500000,40.20000,40.900000,41.600000,42.100000,42.600000,...,40.700000,40.800000,41.000000,41.300000,41.400000,41.400000,41.300000,41.100000,40.900000,40.700000
1485,SH.HIV.INCD.YG,1400.000000,1500.000000,1600.000000,1600.000000,1600.00000,1500.000000,1400.000000,1200.000000,1100.000000,...,100.000000,100.000000,100.000000,100.000000,200.000000,200.000000,200.000000,200.000000,500.000000,500.000000

In [13]:
df_transposed = df_filtrado.T
df_transposed.columns = df_transposed.iloc[0]
df_transposed = df_transposed.drop(df_transposed.index[0])
df_transposed = df_transposed.reset_index()
df_transposed = df_transposed.rename(columns={'index': 'Year'})

df_transposed

Indicator Code,Year,EG.CFT.ACCS.ZS,EG.CFT.ACCS.RU.ZS,EG.CFT.ACCS.UR.ZS,EG.ELC.ACCS.ZS,EG.ELC.ACCS.RU.ZS,EG.ELC.ACCS.UR.ZS,FX.OWN.TOTL.ZS,FX.OWN.TOTL.FE.ZS,FX.OWN.TOTL.MA.ZS,...,SG.VAW.REAS.ZS,SG.VAW.ARGU.ZS,SG.VAW.BURN.ZS,SG.VAW.GOES.ZS,SG.VAW.NEGL.ZS,SG.VAW.REFU.ZS,SP.M15.2024.FE.ZS,SP.M18.2024.FE.ZS,SH.DYN.AIDS.FE.ZS,SH.HIV.INCD.YG
0,1995,-1.0,-1.0,-1.0,60.8,39.029553,88.9,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,10.4,38.6,37.4,1400.0
1,1996,-1.0,-1.0,-1.0,67.679939,48.340508,92.304756,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,38.1,1500.0
2,1997,-1.0,-1.0,-1.0,68.904076,50.09598,92.530144,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,38.8,1600.0
3,1998,-1.0,-1.0,-1.0,70.12413,51.876376,92.736572,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,39.5,1600.0
4,1999,-1.0,-1.0,-1.0,70.9,54.21246,91.3,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,9.3,34.3,40.2,1600.0
5,2000,40.7,17.1,66.75,73.318205,55.009254,95.397837,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,40.9,1500.0
6,2001,39.9,16.2,65.7,73.733215,57.33164,93.246452,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,41.6,1400.0
7,2002,39.2,15.3,64.8,78.667838,64.146689,95.710971,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,42.1,1200.0
8,2003,38.7,14.6,64.0,78.512204,63.396697,96.030896,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,42.6,1100.0
9,2004,38.3,13.9,63.4,77.151161,62.675712,93.728249,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,42.4,1000.0
10,2005,37.9,13.2,62.7,78.306076,64.510685,93.917015,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,42.1,1000.0
11,2006,37.7,12.8,62.4,83.730998,74.183773,94.40666,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,41.9,1000.0
12,2007,37.8,12.4,62.1,80.67527,68.280084,94.370819,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,41.6,1000.0
13,2008,37.8,12.1,62.0,81.887505,70.215901,94.629906,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,41.2,500.0
14,2009,38.1,11.9,62.4,83.113136,72.185747,94.901924,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,40.9,500.0
15,2010,38.5,11.6,62.7,84.348305,74.186743,95.180405,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,40.7,200.0
16,2011,39.1,11.6,63.4,84.026414,73.985207,94.603279,22.32,15.59,29.89,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,40.5,100.0
17,2012,39.7,11.5,64.0,86.83194,78.281939,95.730919,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,40.7,100.0
18,2013,40.6,11.5,64.8,88.072723,80.370662,95.990021,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,40.8,100.0
19,2014,41.3,11.6,65.8,85.494371,76.655953,94.463137,41.35,34.69,48.76,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,41.0,100.0
20,2015,42.2,11.7,66.9,90.539246,84.629441,96.45591,-1.0,-1.0,-1.0,...,11.0,3.3,4.2,3.6,7.6,2.4,6.2,29.5,41.3,100.0
21,2016,43.2,11.8,68.2,91.765869,86.802108,96.666695,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,41.4,200.0
22,2017,44.2,11.9,69.3,93.3,89.635255,96.866402,44.11,42.09,46.36,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,41.4,200.0
23,2018,45.3,11.8,70.4,94.209991,91.239533,97.0578,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,41.3,200.0
24,2019,46.3,12.0,71.6,95.429146,93.507093,97.24366,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,41.1,200.0
25,2020,47.3,11.9,72.4,96.647469,95.808767,97.426758,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,40.9,500.0
26,2021,48.1,12.1,73.35,97.865654,98.14602,97.609383,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,40.7,500.0