In [157]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

from sklearn.cluster import KMeans

In [158]:
# Especificar los tipos de datos para cada columna
dtype_dict = {
    "Country Name": str,
    "Country Code": str,
    "Indicator Name": str,
    "Indicator Code": str
}

# Leer el archivo CSV con los tipos de datos especificados
df = pd.read_csv("WDIData.csv", sep=",", decimal=",", dtype=dtype_dict)

# Convertir las columnas num√©ricas a tipo float
columnas_numericas = df.columns[4:]  # Seleccionar todas las columnas a partir de la quinta
df[columnas_numericas] = df[columnas_numericas].astype(float)

# Verificar el tipo de datos resultante
print(df.dtypes)

Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960              float64
                   ...
2019              float64
2020              float64
2021              float64
2022              float64
Unnamed: 67       float64
Length: 68, dtype: object

In [159]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395276 entries, 0 to 395275
Data columns (total 68 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country Name    395276 non-null  object
 1   Country Code    395276 non-null  object
 2   Indicator Name  395276 non-null  object
 3   Indicator Code  395276 non-null  object
 4   1960            38880 non-null   float64
 5   1961            44138 non-null   float64
 6   1962            45320 non-null   float64
 7   1963            46200 non-null   float64
 8   1964            46743 non-null   float64
 9   1965            48944 non-null   float64
 10  1966            48946 non-null   float64
 11  1967            49618 non-null   float64
 12  1968            50272 non-null   float64
 13  1969            51035 non-null   float64
 14  1970            68363 non-null   float64
 15  1971            75289 non-null   float64
 16  1972            77209 non-null   float64
 17  1973            77912 non-null   float64
 18  1974            79322 non-null   float64
 19  1975            83032 non-null   float64
 20  1976            85144 non-null   float64
 21  1977            87567 non-null   float64
 22  1978            88323 non-null   float64
 23  1979            89301 non-null   float64
 24  1980            93845 non-null   float64
 25  1981            95841 non-null   float64
 26  1982            96201 non-null   float64
 27  1983            97193 non-null   float64
 28  1984            97830 non-null   float64
 29  1985            99272 non-null   float64
 30  1986            100059 non-null  float64
 31  1987            100264 non-null  float64
 32  1988            100374 non-null  float64
 33  1989            102135 non-null  float64
 34  1990            128655 non-null  float64
 35  1991            135942 non-null  float64
 36  1992            139273 non-null  float64
 37  1993            141776 non-null  float64
 38  1994            144043 non-null  float64
 39  1995            152002 non-null  float64
 40  1996            159180 non-null  float64
 41  1997            152562 non-null  float64
 42  1998            162647 non-null  float64
 43  1999            161342 non-null  float64
 44  2000            195888 non-null  float64
 45  2001            182267 non-null  float64
 46  2002            192246 non-null  float64
 47  2003            194562 non-null  float64
 48  2004            199871 non-null  float64
 49  2005            211905 non-null  float64
 50  2006            212303 non-null  float64
 51  2007            214248 non-null  float64
 52  2008            215065 non-null  float64
 53  2009            216352 non-null  float64
 54  2010            227443 non-null  float64
 55  2011            223251 non-null  float64
 56  2012            224999 non-null  float64
 57  2013            222242 non-null  float64
 58  2014            229272 non-null  float64
 59  2015            229636 non-null  float64
 60  2016            225248 non-null  float64
 61  2017            221540 non-null  float64
 62  2018            220018 non-null  float64
 63  2019            215265 non-null  float64
 64  2020            194119 non-null  float64
 65  2021            164416 non-null  float64
 66  2022            104773 non-null  float64
 67  Unnamed: 67     0 non-null       float64
dtypes: float64(64), object(4)
memory usage: 205.1+ MB

In [160]:
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,17.392349,17.892005,18.359993,18.795151,19.295176,19.788156,20.279599,20.773627,NaN,NaN
1,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.720331,7.015917,7.281390,7.513673,7.809566,8.075889,8.366010,8.684137,NaN,NaN
2,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,38.184152,38.543180,38.801719,39.039014,39.323186,39.643848,39.894830,40.213891,NaN,NaN
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.859257,33.903515,38.851444,40.197332,43.028332,44.389773,46.268621,48.103609,NaN,NaN
4,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,17.623956,16.516633,24.594474,25.389297,27.041743,29.138285,30.998687,32.772690,NaN,NaN

In [161]:
df.isnull().sum()

Country Name           0
Country Code           0
Indicator Name         0
Indicator Code         0
1960              356396
                   ...
2019              180011
2020              201157
2021              230860
2022              290503
Unnamed: 67       395276
Length: 68, dtype: int64

In [162]:
df.shape

(395276, 68)

In [163]:
# Eliminar columna que no necesitamos, la ultima
df.drop(df.columns[-1], axis=1, inplace=True)
df.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,16.914625,17.392349,17.892005,18.359993,18.795151,19.295176,19.788156,20.279599,20.773627,NaN
1,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.473301,6.720331,7.015917,7.281390,7.513673,7.809566,8.075889,8.366010,8.684137,NaN
2,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,37.870347,38.184152,38.543180,38.801719,39.039014,39.323186,39.643848,39.894830,40.213891,NaN

In [164]:
#Intercambiar NA por -1
df.fillna(-1, inplace= True)
df.head(3)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,16.914625,17.392349,17.892005,18.359993,18.795151,19.295176,19.788156,20.279599,20.773627,-1.0
1,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,6.473301,6.720331,7.015917,7.281390,7.513673,7.809566,8.075889,8.366010,8.684137,-1.0
2,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,37.870347,38.184152,38.543180,38.801719,39.039014,39.323186,39.643848,39.894830,40.213891,-1.0

In [165]:
guatemala_df = df.loc[df['Country Name'] == 'Guatemala']
guatemala_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
191694,Guatemala,GTM,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,40.600000,41.300000,42.200000,43.200000,44.200000,45.300000,46.300000,47.300000,48.100000,-1.0
191695,Guatemala,GTM,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,11.500000,11.600000,11.700000,11.800000,11.900000,11.800000,12.000000,11.900000,12.100000,-1.0
191696,Guatemala,GTM,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,64.800000,65.800000,66.900000,68.200000,69.300000,70.400000,71.600000,72.400000,73.350000,-1.0
191697,Guatemala,GTM,Access to electricity (% of population),EG.ELC.ACCS.ZS,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,88.072723,85.494371,90.539246,91.765869,93.300000,94.209991,95.429146,96.647469,97.865654,-1.0
191698,Guatemala,GTM,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,80.370662,76.655953,84.629441,86.802108,89.635255,91.239533,93.507093,95.808767,98.146020,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193175,Guatemala,GTM,Women who believe a husband is justified in be...,SG.VAW.REFU.ZS,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.000000,-1.000000,2.400000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0
193176,Guatemala,GTM,Women who were first married by age 15 (% of w...,SP.M15.2024.FE.ZS,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.000000,-1.000000,6.200000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0
193177,Guatemala,GTM,Women who were first married by age 18 (% of w...,SP.M18.2024.FE.ZS,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.000000,-1.000000,29.500000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0
193178,Guatemala,GTM,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,40.800000,41.000000,41.300000,41.400000,41.400000,41.300000,41.100000,40.900000,40.700000,-1.0
193179,Guatemala,GTM,Young people (ages 15-24) newly infected with HIV,SH.HIV.INCD.YG,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,100.000000,100.000000,100.000000,200.000000,200.000000,200.000000,200.000000,500.000000,500.000000,-1.0

In [166]:
# Calcular la proporci√≥n de valores -1 en cada columna num√©rica
proporcion_valores_negativos = (guatemala_df.drop(columns=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code']) == -1).mean()

# Definir un umbral para decidir si eliminar la columna
umbral = 0.5  # Por ejemplo, si m√°s del 50% de los valores son -1, eliminaremos la columna

# Filtrar las columnas que superan el umbral
columnas_a_eliminar = proporcion_valores_negativos[proporcion_valores_negativos > umbral].index

# Eliminar las columnas del DataFrame original
df_filtrado = guatemala_df.drop(columns=columnas_a_eliminar)
df_filtrado

,Country Name,Country Code,Indicator Name,Indicator Code,1995,1996,1997,1998,1999,2000,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
191694,Guatemala,GTM,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,-1.000000,-1.000000,-1.000000,-1.000000,-1.00000,40.700000,...,39.700000,40.600000,41.300000,42.200000,43.200000,44.200000,45.300000,46.300000,47.300000,48.100000
191695,Guatemala,GTM,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,-1.000000,-1.000000,-1.000000,-1.000000,-1.00000,17.100000,...,11.500000,11.500000,11.600000,11.700000,11.800000,11.900000,11.800000,12.000000,11.900000,12.100000
191696,Guatemala,GTM,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,-1.000000,-1.000000,-1.000000,-1.000000,-1.00000,66.750000,...,64.000000,64.800000,65.800000,66.900000,68.200000,69.300000,70.400000,71.600000,72.400000,73.350000
191697,Guatemala,GTM,Access to electricity (% of population),EG.ELC.ACCS.ZS,60.800000,67.679939,68.904076,70.124130,70.90000,73.318205,...,86.831940,88.072723,85.494371,90.539246,91.765869,93.300000,94.209991,95.429146,96.647469,97.865654
191698,Guatemala,GTM,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,39.029553,48.340508,50.095980,51.876376,54.21246,55.009254,...,78.281939,80.370662,76.655953,84.629441,86.802108,89.635255,91.239533,93.507093,95.808767,98.146020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193175,Guatemala,GTM,Women who believe a husband is justified in be...,SG.VAW.REFU.ZS,-1.000000,-1.000000,-1.000000,-1.000000,-1.00000,-1.000000,...,-1.000000,-1.000000,-1.000000,2.400000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
193176,Guatemala,GTM,Women who were first married by age 15 (% of w...,SP.M15.2024.FE.ZS,10.400000,-1.000000,-1.000000,-1.000000,9.30000,-1.000000,...,-1.000000,-1.000000,-1.000000,6.200000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
193177,Guatemala,GTM,Women who were first married by age 18 (% of w...,SP.M18.2024.FE.ZS,38.600000,-1.000000,-1.000000,-1.000000,34.30000,-1.000000,...,-1.000000,-1.000000,-1.000000,29.500000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
193178,Guatemala,GTM,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,37.400000,38.100000,38.800000,39.500000,40.20000,40.900000,...,40.700000,40.800000,41.000000,41.300000,41.400000,41.400000,41.300000,41.100000,40.900000,40.700000
193179,Guatemala,GTM,Young people (ages 15-24) newly infected with HIV,SH.HIV.INCD.YG,1400.000000,1500.000000,1600.000000,1600.000000,1600.00000,1500.000000,...,100.000000,100.000000,100.000000,100.000000,200.000000,200.000000,200.000000,200.000000,500.000000,500.000000

In [167]:
df_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1486 entries, 191694 to 193179
Data columns (total 31 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    1486 non-null   object
 1   Country Code    1486 non-null   object
 2   Indicator Name  1486 non-null   object
 3   Indicator Code  1486 non-null   object
 4   1995            1486 non-null   float64
 5   1996            1486 non-null   float64
 6   1997            1486 non-null   float64
 7   1998            1486 non-null   float64
 8   1999            1486 non-null   float64
 9   2000            1486 non-null   float64
 10  2001            1486 non-null   float64
 11  2002            1486 non-null   float64
 12  2003            1486 non-null   float64
 13  2004            1486 non-null   float64
 14  2005            1486 non-null   float64
 15  2006            1486 non-null   float64
 16  2007            1486 non-null   float64
 17  2008            1486 non-null   float64
 18  2009            1486 non-null   float64
 19  2010            1486 non-null   float64
 20  2011            1486 non-null   float64
 21  2012            1486 non-null   float64
 22  2013            1486 non-null   float64
 23  2014            1486 non-null   float64
 24  2015            1486 non-null   float64
 25  2016            1486 non-null   float64
 26  2017            1486 non-null   float64
 27  2018            1486 non-null   float64
 28  2019            1486 non-null   float64
 29  2020            1486 non-null   float64
 30  2021            1486 non-null   float64
dtypes: float64(27), object(4)
memory usage: 371.5+ KB

In [168]:
df_filtrado = df_filtrado.drop(columns=[ 'Country Name','Country Code', 'Indicator Code'])


df_filtrado

,Indicator Name,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
191694,Access to clean fuels and technologies for coo...,-1.000000,-1.000000,-1.000000,-1.000000,-1.00000,40.700000,39.900000,39.200000,38.700000,...,39.700000,40.600000,41.300000,42.200000,43.200000,44.200000,45.300000,46.300000,47.300000,48.100000
191695,Access to clean fuels and technologies for coo...,-1.000000,-1.000000,-1.000000,-1.000000,-1.00000,17.100000,16.200000,15.300000,14.600000,...,11.500000,11.500000,11.600000,11.700000,11.800000,11.900000,11.800000,12.000000,11.900000,12.100000
191696,Access to clean fuels and technologies for coo...,-1.000000,-1.000000,-1.000000,-1.000000,-1.00000,66.750000,65.700000,64.800000,64.000000,...,64.000000,64.800000,65.800000,66.900000,68.200000,69.300000,70.400000,71.600000,72.400000,73.350000
191697,Access to electricity (% of population),60.800000,67.679939,68.904076,70.124130,70.90000,73.318205,73.733215,78.667838,78.512204,...,86.831940,88.072723,85.494371,90.539246,91.765869,93.300000,94.209991,95.429146,96.647469,97.865654
191698,"Access to electricity, rural (% of rural popul...",39.029553,48.340508,50.095980,51.876376,54.21246,55.009254,57.331640,64.146689,63.396697,...,78.281939,80.370662,76.655953,84.629441,86.802108,89.635255,91.239533,93.507093,95.808767,98.146020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193175,Women who believe a husband is justified in be...,-1.000000,-1.000000,-1.000000,-1.000000,-1.00000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,2.400000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
193176,Women who were first married by age 15 (% of w...,10.400000,-1.000000,-1.000000,-1.000000,9.30000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,6.200000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
193177,Women who were first married by age 18 (% of w...,38.600000,-1.000000,-1.000000,-1.000000,34.30000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,29.500000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
193178,Women's share of population ages 15+ living wi...,37.400000,38.100000,38.800000,39.500000,40.20000,40.900000,41.600000,42.100000,42.600000,...,40.700000,40.800000,41.000000,41.300000,41.400000,41.400000,41.300000,41.100000,40.900000,40.700000
193179,Young people (ages 15-24) newly infected with HIV,1400.000000,1500.000000,1600.000000,1600.000000,1600.00000,1500.000000,1400.000000,1200.000000,1100.000000,...,100.000000,100.000000,100.000000,100.000000,200.000000,200.000000,200.000000,200.000000,500.000000,500.000000

In [169]:
df_filtrado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1486 entries, 191694 to 193179
Data columns (total 28 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Indicator Name  1486 non-null   object
 1   1995            1486 non-null   float64
 2   1996            1486 non-null   float64
 3   1997            1486 non-null   float64
 4   1998            1486 non-null   float64
 5   1999            1486 non-null   float64
 6   2000            1486 non-null   float64
 7   2001            1486 non-null   float64
 8   2002            1486 non-null   float64
 9   2003            1486 non-null   float64
 10  2004            1486 non-null   float64
 11  2005            1486 non-null   float64
 12  2006            1486 non-null   float64
 13  2007            1486 non-null   float64
 14  2008            1486 non-null   float64
 15  2009            1486 non-null   float64
 16  2010            1486 non-null   float64
 17  2011            1486 non-null   float64
 18  2012            1486 non-null   float64
 19  2013            1486 non-null   float64
 20  2014            1486 non-null   float64
 21  2015            1486 non-null   float64
 22  2016            1486 non-null   float64
 23  2017            1486 non-null   float64
 24  2018            1486 non-null   float64
 25  2019            1486 non-null   float64
 26  2020            1486 non-null   float64
 27  2021            1486 non-null   float64
dtypes: float64(27), object(1)
memory usage: 336.7+ KB

In [170]:
# Exportar DataFrame a CSV
df_filtrado.to_csv('statsGuatemala.csv', index=False)

In [172]:
import pandas as pd

# Leer el archivo CSV
df = pd.read_csv('statsGuatemala.csv')

# Utilizar melt para convertir los nombres de los indicadores en columnas
df_melted = pd.melt(df, id_vars=None, var_name='Year', value_name='Value')



# Escribir el DataFrame convertido a un archivo CSV
df_melted.to_csv('archivo_convertido.csv', index=False)